@import './variable';

* {
    padding: 0;
    margin: 0;
}

html, body, #root, #root>div {
    height: 100%;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: $principle;
}

h1, h2, h3, h4, h5, h6 {
    color: $secondary;
    font-weight: 800;
}

h1 {
    font-size: 3.75em;
}

h2 {
    line-height: 1.3em;
    font-weight: 400;
}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

footer {
    background: $secondary;
    color: $white;
    width: 100%;
    padding: 1rem;
    margin: 0;
    text-align: center;
    transition: 200ms;
    position: fixed;
    bottom: 0;
}