$principle : #b4bad2;
$secondary: #4e4a46;
$tertiary: #c94e50;
$grey-dark: #3D3E3A;
$white: #fffce1;
$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;
$error1: #f39191;
$error2: #de1515;